// Mixins Here
.flex(@dir:row,@wrap:nowrap){
    display: flex;
    flex-direction: @dir;
    flex-wrap:@wrap;
}

.rounded{
    border-radius: 1em;
}

.font-set{
    font-size: 1.6rem;
    line-height: 1.4;
}

.text-flatten(@font-color){
    text-decoration: none;
    color:@font-color;
}